<div id="div-accommodation-informations">
  <div class="row" id="hotel-header-container">
    <div class="large-7 columns">
        <div class="div-accommodation-title-block">
            <h3 class="h3-accommodation-title">La Santé Hotel & Spa agoda</h3>
            <div class="rating-block"> 
              <div class="rating-block-rating" data-rating>
                <div class="star">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 40 37">
                    <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
                  </svg>
                </div>
                <div class="star">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 40 37">
                    <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
                  </svg>
                </div>
                <div class="star">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 40 37">
                    <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
                  </svg>
                </div>
                <div class="star">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 40 37">
                    <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
                  </svg>
                </div>
                <div class="star">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 40 37">
                    <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
                  </svg>
                </div>
              </div>
            </div>
            <span class="label primary"><i class="fa fa-map-marker"></i>&nbsp; 3 Upper Pickering Street, 058289, Singapore, Singapore</span>
        </div> 
    </div>
    <div class="large-5 columns">
       <p id="assessment-point-block"> <span id="assessment-label">Xuất sắc</span><span id="assessment-point">8,3</span> </p>
    </div>
  </div>
  <div class="row" id="hotel-mosaic-container">
      <div class="large-12 columns">
        <div id="gallery" style="display:none;">
          
            <img alt="Image 1 Title" src="assets/images/021-s200x100.jpg"
              data-image="assets/images/021.jpg"
              data-description="Image 1 Description">
            
            <img alt="Image 2 Title" src="assets/images/022-s200x100.jpg"
              data-image="assets/images/022.jpg"
              data-description="Image 2 Description">
          
          </div>
      </div> 
  </div>
  <div class="row ">
    <div class="large-12 columns room-choice-title">
      <div class="room-grid-title">
        <div>
          <div class="RoomGrid-title" id="roomgrid-title">
            <span>Chọn phòng</span>
            <span class="RoomGrid-titleCounters">Hiện có <span> 6</span> loại phòng với 6 phòng trống</span>
          </div>
          <div class="qa-OneLineTaxAndSurcharge OneLineTaxAndSurcharge">
            <span><strong><!-- react-text: 14 -->Không bao gồm<!-- /react-text --></strong><!-- react-text: 15 --> trong giá phòng:<!-- /react-text --></span>
            <span class="qa-OneLineTaxAndSurcharge OneLineTaxAndSurcharge-title"> Thuế 10%, Phí dịch vụ 5%  </span>
            <i class="tt-prompt-icon ficon ficon-10 ficon-hover-details"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="room-blocks">
      <div class="large-12 columns">
        adasd
      </div>
  </div>
</div>
 