<div id="div-accommodation-informations">
  <div class="row" id="hotel-header-container">
    <div class="large-7 columns">
        <div class="div-accommodation-title-block">
            <h3 class="h3-accommodation-title">La Santé Hotel & Spa agoda</h3>
            <div class="rating-block"> 
              <div class="rating-block-rating" data-rating>
                <div class="star">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 40 37">
                    <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
                  </svg>
                </div>
                <div class="star">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 40 37">
                    <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
                  </svg>
                </div>
                <div class="star">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 40 37">
                    <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
                  </svg>
                </div>
                <div class="star">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 40 37">
                    <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
                  </svg>
                </div>
                <div class="star">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 40 37">
                    <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
                  </svg>
                </div>
              </div>
            </div>
            <span class="label primary"><i class="fa fa-map-marker"></i>&nbsp; 3 Upper Pickering Street, 058289, Singapore, Singapore</span>
        </div> 
    </div>
    <div class="large-5 columns">
       <p id="assessment-point-block"> <span id="assessment-label">Xuất sắc</span><span id="assessment-point">8,3</span> </p>
    </div>
  </div>
  <div class="row" id="hotel-mosaic-container">
      <div class="large-12 columns">
        <div id="gallery" style="display:none;">
          
            <img alt="Image 1 Title" src="assets/images/021-s200x100.jpg"
              data-image="assets/images/021.jpg"
              data-description="Image 1 Description">
            
            <img alt="Image 2 Title" src="assets/images/022-s200x100.jpg"
              data-image="assets/images/022.jpg"
              data-description="Image 2 Description">
          
          </div>
      </div> 
  </div>
  <div class="row ">
    <div class="large-12 columns room-choice-title">
      <div class="room-grid-title">
        <div>
          <div class="RoomGrid-title" id="roomgrid-title">
            <span>Chọn phòng</span>
            <span class="RoomGrid-titleCounters">Hiện có <span> 6</span> loại phòng với 6 phòng trống</span>
          </div>
          <div class="qa-OneLineTaxAndSurcharge OneLineTaxAndSurcharge">
            <span><strong><!-- react-text: 14 -->Không bao gồm<!-- /react-text --></strong><!-- react-text: 15 --> trong giá phòng:<!-- /react-text --></span>
            <span class="qa-OneLineTaxAndSurcharge OneLineTaxAndSurcharge-title"> Thuế 10%, Phí dịch vụ 5%  </span>
            <i class="tt-prompt-icon ficon ficon-10 ficon-hover-details"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="room-blocks">
      <div class="large-12 columns">
        <app-room-information></app-room-information>
      </div>
  </div>
  <hr/>
  <div class="row" id="room-blocks">
    <div class="large-12 columns">
        <h3 class="h3">Tìm hiểu thêm về Auckland Harbour Oaks Hotel</h3>
    </div>
  </div>  
  <div class="row" id="room-blocks">
      <div class="large-12 columns">
         <table class="table-description-container">
           <tbody>
             <tr>
               <td class="td-description-title"><h5>Mô tả</h5></td>
               <td class="td-description-list"> 
                  Lý tưởng cho sự vui vẻ và thư giãn, Auckland Harbour Oaks Hotel tọa lạc tại Trung tâm thành phố Auckland khu vực của thành phố Auckland. 
                  Từ đây, khách có thể dễ dàng tiếp cận được nét đẹp sống động của thành phố ở mọi góc cạnh.  
                  Và cũng có thể dễ dàng đến Công viên Albert, Toà công lý, công ty nhà hát Auckland.
                 </td>
             </tr>
             <tr>
                <td class="td-service-title"><h5>Đặc điểm</h5></td>
                <td class="td-service-list">Truy cập Internet
                   
                   miễn phí wifi tất cả các phòngwifi công cộng 
                   Hoạt động và Thư giãn
                   
                   hồ bơi (ngoài trời)phòng thể dụctour du lịch
                   Ăn uống
                   
                   bếpcửa hàng tiện lợi 
                   Tiện nghi và Dịch vụ
                   
                   dịch vụ giặt làgiữ hành lýkhu vực hút thuốcdịch vụ phòng hàng ngàykét sắtnhân viên hướng dẫngiặt khôkhách sạn không hút thuốctiệm bán hàng
                   Dành cho trẻ em
                   
                   dịch vụ trông trẻphòng gia đình 
                   Phục vụ
                   
                   cho phép vật nuôinhận phòng (24 giờ)thang máynhận/trả phòng (nhanh)quầy lễ tân (24 giờ) 
                   Di chuyển
                   
                   bãi đậu xe [tại chỗ]Cho thuê xechỗ đậu xe (có thu phí)
                   Trang bị trong mọi phòng
                   
                   bànkhu vực chờphòng không hút thuốcban công/sân thượnglò vi sóngquạtbàn ủi (là)máy giặttivibếp nhỏmáy pha trà/cà phêtivi màn hình phẳngbồn tắmmáy sấy tóctruyền hình vệ tinh/ cápđầu đĩa DVD/CDnước đóng chai miễn phítủ lạnhđiện thoạiphòng ăn riêngvòi hoa sen
                   Ngôn ngữ sử dụng
                   
                   Tiếng ViệtTiếng Ấn Độ Tiếng AnhTiếng Trung Quốc (Quan Thoại)</td>
              </tr>
              <tr>
                  <td class="td-policy-title"><h5>Chính sách</h5></td>
                  <td class="td-policy-list"> 
                     Lý tưởng cho sự vui vẻ và thư giãn, Auckland Harbour Oaks Hotel tọa lạc tại Trung tâm thành phố Auckland khu vực của thành phố Auckland. 
                     Từ đây, khách có thể dễ dàng tiếp cận được nét đẹp sống động của thành phố ở mọi góc cạnh.  
                     Và cũng có thể dễ dàng đến Công viên Albert, Toà công lý, công ty nhà hát Auckland.
                    </td>
                </tr>
           </tbody>
         </table>
      </div>
  </div>
  <hr/>
  <div class="row" id="room-blocks">
      <div class="large-12 columns">
          <app-accommodation-review></app-accommodation-review> 
      </div>
  </div>
  <hr/>
  <div class="row" id="room-blocks">
      <div class="large-12 columns">
        <div>
            <app-traveler-comment></app-traveler-comment>
        </div>
        <ul class="meal-list">
            <li *ngFor="let meal of meals | paginate: { itemsPerPage: 1, currentPage: page }">
                {{ meal }}
            </li>
        </ul>
        <div class="has-text-centered">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
  </div>
</div>
 