 <div class="row">
    <!-- <div class="small-1 large-1 columns"></div> -->
    <div class="small-3 medium-3 large-3 columns" id="sidebar"><app-sidebar></app-sidebar></div>
    <!-- <div class="small-1 medium-1 large-1 columns"></div> -->
    <div class="small-9 medium-9 large-9 columns" id="content">
        <div id="information-result-filter-bar">
            <div id="div-results-number-label">
                <span>422</span>&nbsp; trong số &nbsp;<span>975</span>&nbsp; khách sạn
            </div>
            <div id="div-filter-accommodation">
                <select  name="state">
                    <option selected="selected" value="AL">Sắp xếp theo phổ biến</option> 
                    <option value="WY">Sắp xếp theo xếp hạng</option>
                    <option value="WY">Sắp xếp theo giá</option>
                </select> 
            </div>
        </div>
        <div id="content-card-accommodation-blocks-list">
            <ul>
                <li>
                    <div>
                            
                    </div> 
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="small-1 large-1 columns"></div> -->
</div>