<div class="div-container-content-room">
    <div class="div-content-card-accommodation">
      <div>
          Giá rẻ (Không hoàn tiền) 
          <br/>
          Coupon giảm giá 74.687 ₫
          <br/>
          Khuyến mãi trong thời gian có hạn. Giá phòng bao gồm giảm giá 15%!
      </div>
    </div> 
    <div class="div-capacity-card-accommodation">
        <div class="div-person-number-container">
                <span class="span-label-person-number">2 x </span><i class="fa fa-user-o fa-2x" style="color:#848484;" aria-hidden="true"></i>
        </div> 
        <div class="div-person-number-container">
                <span class="span-label-person-number">1 x  </span><i class="fa fa-user-o fa-lg" style="color:#848484;" aria-hidden="true"></i>
        </div> 
    </div> 
    <div class="div-quantity-card-accommodation">
        <select class="select-room-quantity">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>
    <div class="div-price-and-interaction-card-accommodation">
        <div id="div-price-accommodation-card">
            <span class="span-price-sale-label">‎4.511.100đ</span>
            <span class="span-price-label">‎4.511.100đ</span>
        </div>
        <div id="div-reserve-accommodation-card">
                <button id="button-room-reserve" class="hollow button alert" href="#">Đặt phòng</button>
        </div>
    </div>
  </div>