<div class="search-bar-container">
        <div class="div-text-place">
                <input type="text"   id="input-text-place" placeholder="Nhập địa điểm du lịch hoặc tên khác...">
          </div>
        <div class="div-datetimepicker-checkin">
              <label>Ngày đi</label> <input type="text"   id="input-datetimepicker-checkin">
        </div>
        <div class="div-datetimepicker-checkout">
                <label>Ngày đến</label>  <input type="text"  id="input-datetimepicker-checkout">
        </div>
        <div class="div-dropdown-menu-capacity">
                <button id="button-dropdown-menu-capacity" class="button" type="button" data-toggle="example-dropdown">Số người <span> &#9660;</span></button>
                <div class="dropdown-pane" id="example-dropdown" data-dropdown data-close-on-click="true">
                   asdasd
                </div>
        </div>
        <div class="div-button-search-accommodation">
                <button id="button-search-accommodation" class="button" type="button">Tìm kiếm</button>
                 
        </div>
</div>
 
 
 