.search-bar-container{
    margin-top: 20px;
    padding: 10px 10px;
    background-color: whitesmoke;
}
.div-datetimepicker-checkin ,.div-button-search-accommodation, .div-datetimepicker-checkout, .div-text-place, .div-dropdown-menu-capacity {
    display: inline-block;
} 
#input-text-place{
    width: 400px;
}
#button-dropdown-menu-capacity{
    margin-top: 14px;
    width: 200px;
}
#button-search-accommodation{
    margin-top: 14px;
}