 <div class="accommodation-traveler-comment-block">
    <table>
      <tbody>
        <tr>
          <td width="25%">
            <div class="traveler-comment-left">
              <div>
                <span class="traveler-comment-score-label">5,2</span>
              </div>
              <div>
                  <span>Steve từ New Zealand</span>
              </div>
              <div>
                  <span>Cặp đôi</span>
              </div>
              <div>
                  <span>Suite 1 phòng ngủ</span>
              </div> 
            </div>       
          </td>
          <td width="75%">
              <div class="traveler-comment-right">
                  <span class="Review-comment-bodyTitle">Close to the city centre and the harbour</span>
                  <p class="Review-comment-bodyText">Hotel don’t even offer umbrellas for guests when raining. Room is huge and self sufficient. 
                    Housekeeping staff were attentive. Central location and close to everywhere.
                  </p>
                  <span class="Review-statusBar-date">Đã nhận xét vào 05 Tháng Mười 2017</span>
              </div> 
          </td>
        </tr>
      </tbody>
    </table>
 </div>