<div class="traveler-review-block">
    <h4>Nhận xét được xác thực</h4>
    <div class="traveler-review">
        <div class="div-traveler-review">
            <div>
               <div class="circle-graph" data-circle-graph data-percent="50">
                   <div class="circle-graph-progress">
                     <div class="circle-graph-progress-fill"></div>
                   </div>
                   <div class="circle-graph-percents">
                     <div class="circle-graph-percents-wrapper">
                       <span class="circle-graph-percents-number"></span>
                       <span class="circle-graph-percents-units">
                           <span style="font-size: 18px; color: #5a5b5b; ">Rất tốt</span>
                           <br/>
                         <span style=" margin-top : 10px;color: #2f9eed; text-decoration: underline; outline: 0;"> dựa trên 562 nhận xét</span>
                        </span>
                     </div>
                   </div>
                 </div>                   
            </div>
         </div>
         <div class="div-traveler-review-type">
           <div class="Review-traveler-label">Xem nhận xét theo nhóm</div>
           <select class="Review-traveler-select">
             <option value="0">Tất cả các du khách (562)</option>
             <option value="1">Đi công tác (82)</option>
             <option value="2">Du lịch cặp đôi (205)</option>
             <option value="3">Du lịch một mình (97)</option>
             <option value="4">Gia đình với trẻ nhỏ (59)</option>
             <option value="5">Gia đình với trẻ lớn (60)</option>
             <option value="6">Du lịch nhóm (59)</option>
           </select>
         </div>
         <div class="div-traveler-review-detail">
            <div class="room-review-container-detail">
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                    <span class="progress-meter" style="width: 25%">
                      <p class="progress-meter-text">7.5</p>
                    </span>
                </div>
                <span>
                    Điều kiện vệ sinh khách sạn
                </span>
            </div>
            <div class="room-review-container-detail">
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                    <span class="progress-meter" style="width: 25%">
                      <p class="progress-meter-text">7.5</p>
                    </span>
                </div>
                <span>
                    Vị trí
                </span>
            </div>
            <div class="room-review-container-detail">
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                    <span class="progress-meter" style="width: 25%">
                      <p class="progress-meter-text">7.5</p>
                    </span>
                </div>
                <span>
                    Dịch vụ
                </span>
            </div>
            <div class="room-review-container-detail">
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                    <span class="progress-meter" style="width: 25%">
                      <p class="progress-meter-text">7.5</p>
                    </span>
                </div>
                <span>
                    Tiện nghi
                </span>
            </div>
            <div class="room-review-container-detail">
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                    <span class="progress-meter" style="width: 25%">
                      <p class="progress-meter-text">7.5</p>
                    </span>
                </div>
                <span>
                    Sự thoải mái và chất lượng phòng
                </span>
            </div>
            <div class="room-review-container-detail">
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                    <span class="progress-meter" style="width: 25%">
                      <p class="progress-meter-text">7.5</p>
                    </span>
                </div>
                <span>
                    Đáng giá tiền
                </span>
            </div>
         </div>
    </div>
</div>
