<div class="div-container-card-accommodation">
  <div class="div-container-title-room-type">
        <h5>Deluxe giường Queen (Deluxe Queen)</h5>
  </div>
  <div class="div-container-header-card-accommodation">
      <div class="div-header-image">
          Loại phòng
      </div>
      <div class="div-header-policy-info">
          Bao gồm
      </div>
      <div class="div-header-capacity">
          Sức chứa
      </div> 
      <div class="div-header-quantity">
         Số lượng
      </div>
      <div class="div-header-reserve">
          Giá phòng/đêm
      </div>
  </div>
  <div class="div-image-card-accommodation">
    <img class="image-accommodation-avatar" src="https://imgec.trivago.com/itemimages/15/52/1552477_v3_isq.jpeg" alt="" />
    <div class="dark-overlay-information">
        <div class="dark-overlay-information-title">La Santé Hotel &amp; Spa</div>
        <div class="dark-overlay-information-caption">Xem thêm hình ảnh</div>
    </div>
    <ul class="div-room-facilities-container">
      <li class="div-room-facilities-list">
          Hướng phòng: Thành phố
      </li>
      <li class="div-room-facilities-list">
          phòng không hút thuốc
      </li>
      <li class="div-room-facilities-list">
          Phòng tắm vòi sen & bồn tắm
      </li>
    </ul>
  </div>
  <app-room-detail-content></app-room-detail-content>
   
  <app-room-detail-content></app-room-detail-content>
</div>

