<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>
  
  <div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">TriVaDa</li>
        <li><a href="#0">Đặt Phòng</a></li>
        <li><a href="#0">Ưu đãi cho hôm nay</a></li> 
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="#0">ĐĂNG NHẬP</a></li>
        <li><a href="#0">TẠO TÀI KHOẢN</a></li>
      </ul>
    </div>
  </div>